// Common head partial - meta tags, favicon, CSS
//- Expected variables: title, description, keywords, cssUrl, canonicalUrl, lang
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='author' content='ZHAO Xudong')
title= title
meta(name='description' content=description)
meta(name='keywords' content=keywords)
if canonicalUrl
  link(rel='canonical' href=canonicalUrl)
//- Open Graph
meta(property='og:type' content='website')
meta(property='og:title' content=title)
meta(property='og:description' content=description)
meta(property='og:site_name' content='Electerm Cloud')
meta(property='og:locale' content=lang === 'cn' ? 'zh_CN' : 'en_US')
//- Twitter Card
meta(name='twitter:card' content='summary')
meta(name='twitter:title' content=title)
meta(name='twitter:description' content=description)
//- Favicon
link(rel='icon' href='/favicon.ico' type='image/x-icon')
link(rel='icon' type='image/png' sizes='16x16' href='/electerm-16x16.png')
link(rel='icon' type='image/png' sizes='32x32' href='/electerm-32x32.png')
link(rel='icon' type='image/png' sizes='48x48' href='/electerm-48x48.png')
link(rel='icon' type='image/png' sizes='64x64' href='/electerm-64x64.png')
link(rel='icon' type='image/png' sizes='96x96' href='/electerm-96x96.png')
link(rel='icon' type='image/png' sizes='128x128' href='/electerm-128x128.png')
link(rel='icon' type='image/png' sizes='192x192' href='/electerm-192x192.png')
link(rel='icon' type='image/png' sizes='256x256' href='/electerm-256x256.png')
link(rel='icon' type='image/png' sizes='384x384' href='/electerm-384x384.png')
link(rel='icon' type='image/png' sizes='512x512' href='/electerm-512x512.png')
link(rel='apple-touch-icon' sizes='152x152' href='/electerm-152x152.png')
link(rel='apple-touch-icon' sizes='167x167' href='/electerm-167x167.png')
link(rel='apple-touch-icon' sizes='180x180' href='/electerm-180x180.png')
//- CSS
link(rel='stylesheet' href=cssUrl)
